
ORDS: Release 22.1 Production on Thu Nov 09 21:03:23 2023

Copyright (c) 2010, 2023, Oracle.

Configuration:
  /home/dti-a-chbac/UL-sysadmin/ul-pca/developer/ul-ora-ords-at/docker/files/

Settings:

apex.security.administrator.rolesComma de-limited list of
                                 additional roles to assign
                                 authenticated APEX
                                 administrator type users.

apex.security.developer.roles    Comma de-limited list of
                                 additional roles to assign
                                 authenticated APEX developer
                                 type users.

apex.security.user.roles         Comma de-limited list of
                                 additional roles to assign
                                 authenticated regular APEX
                                 users.

autoupgrade.api.aulocation       A configuration setting for
                                 AutoUpgrade.jar location.

autoupgrade.api.enabled          A configuration setting to
                                 enable AutoUpgrade REST API
                                 features.

autoupgrade.api.jvmlocation      A configuration setting for
                                 AutoUpgrade REST API JVM
                                 location.

autoupgrade.api.loglocation      A configuration setting for
                                 AutoUpgrade REST API log
                                 location.

cache.metadata.enabled           Specifies the setting to
                                 enable or disable metadata
                                 caching.

cache.metadata.timeout           Specifies the setting to
                                 determine for how long a
                                 metadata record remains in
                                 the cache. Longer duration
                                 means, it takes longer to
                                 view the applied changes. The
                                 formats accepted are based on
                                 the ISO-8601 duration format.

database.api.enabled             Enable Database API feature.

database.api.management.services.disabledDisable the Database API
                                 administration related
                                 services. Only applicable
                                 when Database API is enabled.

db.adminUser                     The username for the database
                                 account that ORDS will use
                                 for administration operations
                                 in the database.

db.adminUser.password            The password for the database
                                 account that ORDS will use
                                 for administration operations
                                 in the database.

db.cdb.adminUser                 The username for the database
                                 account that ORDS will use
                                 for Pluggable Database
                                 Lifecycle Management.

db.cdb.adminUser.password        The password for the database
                                 account that ORDS will use
                                 for Pluggable Database
                                 Lifecycle Management.

db.connectionType                The database connection type.
                                 Specify one of the values:
                                 basic, tns, customurl.

db.credentialsSource             Specifies the source for
                                 database credentials when
                                 creating a direct connection
                                 for running SQL statements.
                                 Value can be one of: pool or
                                 request. If pool is used, the
                                 credentials defined in this
                                 pool will be used to create a
                                 JDBC connection. If request
                                 is used, the credentials in
                                 the request will be used to
                                 create a JDBC connection and
                                 if successful grant the
                                 requestor SQL Developer role.
                                 The default value is pool.

db.customURL                     The JDBC URL connection to
                                 connect to the database.

db.hostname                      The host name of the database
                                 server.

db.invalidPoolTimeout            Specifies how long to wait
                                 before retrying an invalid
                                 pool.

db.password                      The database password.

db.poolDestroyTimeout            Indicates how long to wait to
                                 gracefully destroy a pool,
                                 before moving to forcefully
                                 destroy all connections
                                 including borrowed ones.

db.port                          The port of the database
                                 server listener.

db.serviceNameSuffix             The service name suffix for
                                 PDBs connected to the CDB.

db.servicename                   The database service name.

db.tnsAliasName                  The TNS alias name that
                                 matches the name in the
                                 tnsnames.ora file.

db.tnsDirectory                  The directory location of
                                 your tnsnames.ora file.

db.username                      The database user name.

db.wallet.zip                    The wallet archive (provided
                                 in BASE64 encoding)
                                 containing connection details
                                 for the pool.

db.wallet.zip.path               The path to a wallet archive
                                 containing connection details
                                 for the pool.

db.wallet.zip.service            Specifies the service name in
                                 the wallet archive for the
                                 pool.

debug.printDebugToScreen         Specifies whether to display
                                 error messages in the browser.

debug.trackResources             Enable tracking of JDBC
                                 resources that if not
                                 released will cause resource
                                 leaks/exhaustion in the
                                 database. Tracking imposes a
                                 performance overhead.

error.externalPath               The path to the external
                                 error pages.

error.responseFormat             Specifies in what format
                                 error responses should be
                                 rendered. Possible values:
                                 HTTP, JSON, AUTO. Defaults to
                                 AUTO.

feature.openservicebroker.excludeTo disable the Open Service
                                 Broker services available for
                                 the pool.

feature.sdw                      Enable Database Actions
                                 feature.

http.cookie.filter               A comma separated list of
                                 HTTP Cookies to exclude when
                                 initializing an Oracle Web
                                 Agent environment.

icap.port                        Specifies the Internet
                                 Content Adaptation Protocol
                                 (ICAP) port to virus scan
                                 files. Either icap.port or
                                 icap.secure.port are required
                                 to have a value when
                                 icap.server is set.

icap.secure.port                 Specifies the Internet
                                 Content Adaptation Protocol
                                 (ICAP) secure port to virus
                                 scan files. Either icap.port
                                 or icap.secure.port are
                                 required to have a value when
                                 icap.server is set.

icap.server                      Specifies the Internet
                                 Content Adaptation Protocol
                                 (ICAP) server name or IP
                                 address to virus scan files.

jdbc.DriverType                  The Oracle JDBC URL subtype
                                 that can have one of the
                                 values: thin, oci8. Defaults
                                 to thin.

jdbc.InactivityTimeout           Specify how long an available
                                 connection can remain idle
                                 before it is closed. The
                                 inactivity connection timeout
                                 is in seconds. Defaults to
                                 1800.

jdbc.InitialLimit                The initial size for the
                                 number of connections that
                                 will be created. Defaults to
                                 10.

jdbc.MaxConnectionReuseCount     Specify the maximum number of
                                 times to reuse a connection
                                 before it is discarded and
                                 replaced with a new
                                 connection.

jdbc.MaxLimit                    The maximum number of
                                 connections. Defaults to 10.

jdbc.MaxStatementsLimit          The maximum number of
                                 statements to cache for each
                                 connection. Defaults to 10.

jdbc.MinLimit                    The minimum number of
                                 connections. Defaults to 2.

jdbc.auth.admin.role             Identifies the database role
                                 that signifies the database
                                 user should get the SQL
                                 Administrator role.

jdbc.auth.enabled                Specifies if the PL/SQL
                                 Gateway calls can be
                                 authenticated using database
                                 users. Defaults to false. Set
                                 to true to enable feature.
                                 Oracle recommends not to use
                                 this feature. This feature
                                 used only to facilitate
                                 customers migrating from
                                 mod_plsql.

jdbc.cleanup.mode                Specifies how a pooled JDBC
                                 connection, and corresponding
                                 database session, is released
                                 when a request has been
                                 processed.

jdbc.driverName                  The name of the JDBC driver
                                 to use.

jdbc.statementTimeout            Specify how long a borrowed
                                 (in use) connection can
                                 remain unused before it is
                                 considered as abandoned and
                                 reclaimed. The abandoned
                                 connection timeout is in
                                 seconds.

json.sdo.geometry.output.geojson Specify that SDO Geometry
                                 data should be returned in
                                 GeoJSON format.

misc.defaultPage                 Default page (PL/SQL
                                 procedure) to invoke if the
                                 URL points to the context
                                 root of a database pool.
                                 Default value is apex.

misc.pagination.maxRows          Specifies the maximum number
                                 of rows that will be returned
                                 from a query when processing
                                 a RESTful service and that
                                 will be returned from a
                                 nested cursor in a result
                                 set. Affects all RESTful
                                 services generated through a
                                 SQL query, regardless of
                                 whether the resource is
                                 paginated. Defaults to 10000.

owa.trace.sql                    Boolean property that if true
                                 causes a trace of the SQL
                                 statements performed by
                                 Oracle Web Agent to be echoed
                                 to the log.

plsql.gateway.mode               Indicates if the PL/SQL
                                 Gateway functionality should
                                 be available for a pool or
                                 not. Value can be one of:
                                 disabled, direct or proxied.
                                 If direct is used, the pool
                                 will serve PL/SQL Gateway
                                 requests directly. If proxied
                                 is used, PLSQL_GATEWAY_CONFIG
                                 view is used to determine the
                                 user to proxy to.

procedure.rest.preHook           Name of a stored PL/SQL
                                 function that should be
                                 invoked prior to dispatching
                                 any REST request.

request.traceHeaderName          Denotes the name of the HTTP
                                 request header that uniquely
                                 identifies the request end to
                                 end as it passes through the
                                 various layers of the
                                 application stack. In Oracle
                                 this header is commonly
                                 referred to as the ECID
                                 (Entity Context ID).

resource.templates.enabled       Deprecated. Configuration
                                 property indicating if the
                                 legacy resource templates
                                 (APEX based REST) should be
                                 enabled or not. False by
                                 default. The
                                 resource-templates code base
                                 is not compatible with the
                                 single pool
                                 (ORDS_PUBLIC_USER)
                                 architecture so must be
                                 disabled.

restEnabledSql.active            Enable the REST-Enabled SQL
                                 service.

security.credentials.attempts    The maximum number of
                                 unsuccessful password
                                 attempts allowed. Enabled by
                                 setting a positive integer
                                 value. Defaults to -1.

security.credentials.file        The file where credentials
                                 are stored.

security.credentials.lock.time   The period to lock account
                                 that has exceeded maximum
                                 attempts. Defaults to 10
                                 minutes.

security.requestValidationFunctionSpecifies a validation
                                 function to determine if the
                                 requested procedure in the
                                 URL should be allowed or
                                 disallowed for processing.
                                 The function should return
                                 true if the procedure is
                                 allowed; otherwise, return
                                 false.

security.validationFunctionType  Indicate what type the
                                 security.requestValidationFunc
                                 ion is: javascript or plsql.
                                 Defaults to plsql.

security.verifySSL               Indicate whether HTTPS is
                                 available in your environment.

standalone.access.log            Path to the folder to store
                                 HTTP request access logs. If
                                 not specified then no access
                                 log will be generated.

standalone.binds                 Comma separated list of host
                                 names or IP addresses to
                                 identify a specific network
                                 interface on which to listen,
                                 default 0.0.0.0.

standalone.context.path          The context path where {0} is
                                 located, defaults to /ords

standalone.doc.root              Points to the location where
                                 static resources, to be
                                 served under the / root
                                 server path are located.

standalone.http.port             HTTP listen port, default 8080

standalone.https.cert            SSL certificate path. If you
                                 are providing the SSL
                                 certificate, you must specify
                                 the certificate location.

standalone.https.cert.key        SSL certificate key path. If
                                 you are providing the SSL
                                 certificate, you must specify
                                 the certificate key location.

standalone.https.host            SSL certificate hostname

standalone.https.port            HTTPS listen port, default
                                 8443

standalone.static.context.path   The Context path where
                                 Application Express static
                                 resources are located,
                                 defaults to /i

standalone.static.path           Path to the folder containing
                                 static resources required by
                                 APEX

standalone.stop.timeout          The period for Standalone
                                 Mode to wait to gracefully
                                 shutdown.


